/*Montserrat font
font-family: 'Montserrat', sans-serif;

Noto-Sans KR
font-family: 'Noto Sans KR', sans-serif;

*/

body{

    /*setting color for entire of body*/
    background-color:white;

}

.frame{

    /*apart from outline of right & left board*/
    margin: 30px 150px;
    /*margin first element 30px - top & bottom distance away
    second element 150px - left & right distance away */
    
    display: flex;
    /*we are going to use flex instead of grid form*/

    flex-direction: column;
    /*flex direction is vertical-wise*/
}

a{
    color: dimgrey;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s
}

/*--------------------------- Navigator ---------------------------*/
.navigator{
    /*navigation안에서도 Flex로 만들어서 해준다
    전체 frame뿐만 아니라 element나 block안에서도도 Flex를 쓸수 있다*/
    display: flex;
    flex-direction: row;
    background-color: rgba(201, 201, 201, 0.651);
    height: 60px;    
    border-radius: 15px;
    /*#efe7e3*/
    /*Site이름은 왼쪽, menu는 오른쪽에 하고싶다.
    contents에 관한 건 Jujstify-content로 한다 중요!*/
    align-items: center;    
    justify-content: space-between ; 

    /*h3와 ul에 관해서 space-between이 된다*/
}

.site-name{
    margin: 0px;
    margin-left: 25px;    

    /*font family 적용*/
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: black;

}

.menu_ul{
    margin:0px;
    padding:0;
    align-items: center;
    text-align: center;
    margin-right: 15px;
}


.list_menu{
    /*한줄로 오게 하고 싶으면 inline을 해준다*/
    display: inline-block;
    margin:0;     
    padding:0; 
}

.nav_menu{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-right: 22px;
    margin-left: 15px;   
    text-shadow: 1.3px 1.3px 1.3px gray; 
}




/*--------------------------- dashboard ---------------------------*/
.dashobards{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.Korean-comment{
    font-family: "Montserrat", sans-serif;
    font-weight: 550; /*bold*/
    margin-top: 100px;   
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function:ease-in-out;

}

@keyframes slidein {
    from {
      margin-left: -10%;
      width: 100%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.my-name{
    color: green;
}

.my-name:hover{

    color:rgb(94, 4, 79);
    transition: 1.0;
}

.field-highlight{
    color: dimgrey;    
}

.field-highlight:hover{

    color:orange;
    transition: 1.0;
}

.English-comment{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100; /*bold*/
    font-size: 15px;
    font-style: italic;
    /*font-style italic 등*/

    /*Letter 사이의 간격*/
    Letter-spacing: -0.2px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function:ease-in-out;
}

@keyframes slidein {
    from {
      margin-left: -10%;
      width: 100%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/*--------------------------- recent works ---------------------------*/
.recent-menu{
    /*display는 항상 앞에 와야하네 font보다*/

    /*이걸 오른쪽으로 보내고싶은거임*/
    /*block element*/ 
    display: inline; /*display를 inline으로 해야하네*/
    text-align: right;

    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #C3B4AE

}


/*--------------------------- Footer ---------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 200px;
}

.contact{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
    
    color: #000000;
    /*border-top: 1px solid #C2B4AB;*/
    margin-bottom: 40px;
}

.links>a{
 /*>: 자식태그 <: 부모태그*/
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}

.footer>p{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100; /*bold*/
    font-size: 15px;
    font-style: italic;

    margin-top: 5px;
}




/*--------------------------- Profile-section ---------------------------*/
.profile-section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;

}

#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.About_me{
    font-family: "Montserrat", sans-serif;

}

.Personal-info{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.Interests{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;    
    margin-bottom: 40px;
    margin-top:0;
}


.Introduction>h2{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin: 0px;
}

.major{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    /*font-style: italic;*/

    line-height: 30px; /*줄간격*/
    margin-left: 20px;
}

.Resmue-title{    
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;}

.Education-section{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 30px;
    line-height: 25px;
}

.Capability{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 30px; /*줄간격*/
    margin-left: 20px;
    margin-bottom: 30px;
}

.Cap-sub{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 550;
    margin-top:0;
}

#logo{
    margin-left: 20px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.git_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-left: 265px;    
}

.git_menu:hover{
    color: rgb(163, 0, 0);
    transition: 0.5s
}

.Awards{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.Orga_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;  
    margin-left: 20px;    
}

.Orga_menu:hover{
    color: rgb(163, 0, 0);
    transition: 0.5s
}

/*--------------------------- Research part ---------------------------*/

/*CFD Simulation*/

/*2-D lid-driven*/
.Two-D-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.Two-Cavity-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;
}


.Two_id{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#Two_id_gif{
    width: 380px;
    height: 350px;
}

.u-2d{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
}


/*3-D lid-driven*/
.Three-D-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.Three-Cavity-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 35px;
    /*justify-content: space-between; */
}


#Three_id_gif{
    width: 380px;
    height: 350px;
}

.descirption_3D-cavity{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
    margin-left: 25px;
    line-height: 24px; 
}

.Three_id{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.u-3d{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
}

.descirption_2D-high-cavity{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 25px;
    line-height: 24px; 
}

#vor_gif{
    width: 410px;
    height: 380px;

}

/*CFD Control*/

/*TD3-burgers*/
.Burgers{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.DRL-title{
    margin-left:20px;
}

.Control-div{
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 20px;
}

#burgers{
    width: 380px;
    height: 350px;
}

.burgers_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.TD3_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.PPO_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.burgers-description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 100px;
    line-height: 24px; 
}

/*Time Prediction*/

.Window-title{
    margin-left:20px;
}

.Forecasting-image{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
}

.NN-model-img{
    margin-top:10px;
    margin-bottom:10px;
}

.prediction-description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;

}


/*--------------------------- School project part ---------------------------*/

.System_control_title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.System-control-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;
}


.system_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:10px;
    margin-right:10px;
}

#system_img{
    width: 350px;
    height: 350px;
}

.system_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}
