body {
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  /*===== Vertical Timeline =====*/
  #conference-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /*Start end part*/
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    display: table; /*start, end 네모칸*/
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: rgb(49, 49, 49); /*table background*/
    padding: 15px 23px;
    color: #fff;
    max-width: 5%; /*table size를 의미함*/
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  /*Stem-line (mid)*/
  #conference-timeline .conference-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: rgb(49, 49, 49);
    z-index: -1;
  }

  /*Conference total - contents box*/
  #conference-timeline .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
  }


  /*article each parts*/
  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
  }

  /*box for articles (both sides) including author*/
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }


  /*Author*/
  .timeline-article .timeline-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
    text-align: right;
  }

  /*Article*/
  .timeline-article .content-left,
  .timeline-article .content-right {
    position: static;
    background-color: white;
    /*box-shadow: 0 1px 3px rgba(0,0,0,.03);*/
    padding: 27px 25px;
  }

  /*article 내부에 있는 p부분 설정*/
  .timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 20px;
    line-height: 24px;
    position: relative;
  }

  /*article 내부에 있는 span number 설정
  .timeline-article p span.article-number {
    position: absolute;
    font-weight: 300;
    font-size: 44px;
    top: 10px;
    left: -60px;
    color: black;
  }*/

    /*time line에서 container 위치 설정*/
  .timeline-article .content-left-container {
    float: left;
  }

    /*time line에서 container 위치 설정*/
  .timeline-article .content-right-container {
    float: right;
  }


  /*옆에 붙어 있는 조그만한 네모박스*/
  /*  
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
    position: absolute;
    top: 20px;
    font-size: 10px;
    font-family: "FontAwesome";
    color: rgb(49, 49, 49);
  }

   /*네모박스의 위치를 나타낸다*/
   /*
  .timeline-article .content-left:before {
    content: "\f0da";
    right: -8px;
  }
  .timeline-article .content-right:before {
    content: "\f0d9";
    left: -8px;
  }
  */
  /*중앙에 APR 18 이런식의 칸을 의미함*/
  .timeline-article .meta-date {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: white;
    border-radius: 20%;
    background: rgb(49, 49, 49);
  }
  .timeline-article .meta-date .date {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top:25%

  }


/* menu part*/
.project_menu{
    line-height: 40px;
    padding-left: 22px;
}

.project_menu:before{
    content: "";
    position: absolute;
    display: block;
    top: 16px;
    width:10px;
    height:10px;
    background-color: black;

}

.project_menu:hover:before{
    transform: rotate(270deg);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.project_menu:hover{
    color: rgb(100, 4, 4);
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s;
    text-align: center;

  }





  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    #conference-timeline .timeline-start,
    #conference-timeline .timeline-end {
      margin: 0;
    }
    #conference-timeline .conference-center-line {
      margin-left: 0;
      left: 50px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
    .timeline-article .content-left:before {
      content: "\f0d9";
      right: auto;
      left: -8px;
    }
    .timeline-article .content-right:before {
      display: none;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }
    
  }
  /*===== // Resonsive Vertical Timeline =====*/