/*Montserrat font
font-family: 'Montserrat', sans-serif;

Noto-Sans KR
font-family: 'Noto Sans KR', sans-serif;

*/

body{

    /*setting color for entire of body*/
    background-color:white;
    width:100%;
    height:100%;  
    margin:0;
    margin-top:5px;
    

}

.frame{

    /*apart from outline of right & left board*/
    margin: 30px 180px;
    max-width:100%;

    /*margin first element 30px - top & bottom distance away
    second element 150px - left & right distance away */
    
    display: flex;
    /*we are going to use flex instead of grid form*/

    flex-direction: column;
    /*flex direction is vertical-wise*/
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}


/*P0--------------------------- Navigator ---------------------------*/
.navigator{
    /*navigation안에서도 Flex로 만들어서 해준다
    전체 frame뿐만 아니라 element나 block안에서도도 Flex를 쓸수 있다*/
    display: flex;
    flex-direction: row;
    background-color: white;
    /*rgb(0, 59, 98);*/
    height: 100px;    
    border-radius: 15px;
    /*border-style: solid;*/
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    /*border-color: rgb(0, 59, 98);*/
    /*#efe7e3*/
    /*Site이름은 왼쪽, menu는 오른쪽에 하고싶다.
    contents에 관한 건 Jujstify-content로 한다 중요!*/
    align-items: center;    
    justify-content: space-between; 

    /*h3와 ul에 관해서 space-between이 된다*/
}

.navigator>a{
    color: black;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

.navigator>a:hover{
    color: white;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

.site-name{
    margin: 0px;
    margin-left: 25px;    

    /*font family 적용*/
    font-family: "Noto Sans", sans-serif;
    font-size: 34px;
    color: black;

}

.name-archive{
    /*font family 적용*/
    font-family: "Noto Sans", sans-serif;
    font-size: 23px;
    color: rgb(0, 72, 167);
}


.menu_ul{
    display: flex;
    margin:0px;
    padding:0;
    align-items: center;
    text-align: center;
    margin-right: 0px;
    margin-top:5px;
}


.list_menu{
    /*한줄로 오게 하고 싶으면 inline을 해준다*/
    display: inline-block;
    margin:0;     
    padding:7px 11px; 
}

.nav_menu{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 35px;
    margin-left: 15px;   
    text-shadow: 1.3px 1.3px 1.3px gray; 
}

.nav__toogle{
    display: none;
    position: absolute;
    color: black;
    font-size:30px;
    right:32px;
    top:20px;
}
#ham_menu{
    width:35px;
    height:35px;
}

.nav__toogle:hover{
    color: rgb(182, 69, 69);
    filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
    transition: 0.3s
}


/*For Nav_bar (hidden)*/
@keyframes slidego {
    from {
      margin-right: 110%;
      width: 100%
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

/*P4--------------------------- Footer ---------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(49, 49, 49);
    border-radius: 0px;

    /*margin-bottom: 200px; rgb(0, 59, 98);*/
}

.contact{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    /*border-top: 1px solid #C2B4AB;*/
    margin-bottom: 22px;
    margin-left:0px;
}

.links{
    display:flex;
    flex-direction: row;
    padding-left:50px;
    padding-right:50px;
}

.blog, .instagram, .facebook{
    color:white;
}

#Con-img{
    margin-right:5px;
}

.links>li{
 /*>: 자식태그 <: 부모태그*/
    font-family: "Montserrat", sans-serif;
    font-size: 17.5px;
    font-weight: 550;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 0px;
    color: white;
    list-style:none;
}


.links>li:hover{
    color: rgb(255, 255, 255);
    filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    transition: 0.3s
}

.footer>p{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100; /*bold*/
    font-size: 15px;
    font-style: italic;
    color: white;

    margin-top: 5px;
}



@media screen and (max-width: 1030px){
.frame{
    margin: 20px 180px;
}
.navigator{
    flex-direction: column;
    align-items:  flex-start;
    margin-top:20px;
    margin-bottom:25px;

}

.menu_ul{
    display: none;
    flex-direction: row;
    /*동작이 안됐었던 이유 위에 menu_ul이 display:flex가 안되어 있어서 아래에서도 display가 안되는거였음*/
    align-items: center;
    width:100%; /*list menu width가 작았던것*/
    margin-top:17px
}

.nav__toogle{
    display: block;
}

.menu_ul.active{
    display: flex;
    justify-content: center;
    animation-duration: 1s;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    animation-timing-function:ease-in-out;
}
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}