/*-------------------  Under courses ----------------------*/

.Course-title{    
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top:100px;
    margin-bottom:20px;}


.Under-class{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width:90%;
    
    margin:0;
    
}

ul.course-list{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

li{
    margin-bottom:10px;
}


/*-------------------  Env-courses ----------------------*/
.Env-courses{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 30px;
    line-height: 25px;
}

/*-------------------  Mech-courses ----------------------*/
.Mech-courses{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 30px;
    line-height: 25px;
}


/*-------------------  GPA Info ----------------------*/
.Gpa-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:35px;
    margin-left: 20px;
    width:90%
}

.env-gpa{
    margin-left: 20px;
}

.mecha-gpa{

    margin-right:105px;

}

.down_list{
    color: rgb(194, 0, 0);
    margin-top:30px;
    margin-left:0px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;   
}

.down_list:hover{
    color: black;
    transition: 0.5s

}



/*------------------- Graduated courses ----------------------*/

.grad-gpa{
    margin-left: 20px;
    margin-bottom: 100px;
}

