/*Montserrat font
font-family: 'Montserrat', sans-serif;

Noto-Sans KR
font-family: 'Noto Sans KR', sans-serif;

*/

body{

    /*setting color for entire of body*/
    background-color:white;
    width:100%;
    height:100%;  
    margin:0;
    margin-top:5px;
    

}

.frame{

    /*apart from outline of right & left board*/
    margin: 30px 200px;
    max-width:100%;

    /*margin first element 30px - top & bottom distance away
    second element 150px - left & right distance away */
    
    display: flex;
    /*we are going to use flex instead of grid form*/

    flex-direction: column;
    /*flex direction is vertical-wise*/
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}


/*P0--------------------------- Navigator ---------------------------*/
.navigator{
    /*navigation안에서도 Flex로 만들어서 해준다
    전체 frame뿐만 아니라 element나 block안에서도도 Flex를 쓸수 있다*/
    display: flex;
    flex-direction: row;
    background-color: white;
    /*rgb(0, 59, 98);*/
    height: 100px;    
    border-radius: 15px;
    /*border-style: solid;*/
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    /*border-color: rgb(0, 59, 98);*/
    /*#efe7e3*/
    /*Site이름은 왼쪽, menu는 오른쪽에 하고싶다.
    contents에 관한 건 Jujstify-content로 한다 중요!*/
    align-items: center;    
    justify-content: space-between; 

    /*h3와 ul에 관해서 space-between이 된다*/
}

.navigator>a{
    color: black;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

.navigator>a:hover{
    color: white;
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

.site-name{
    margin: 0px;
    margin-left: 25px;    

    /*font family 적용*/
    font-family: "Noto Sans", sans-serif;
    font-size: 35px;
    color: black;

}

.name-archive{
    /*font family 적용*/
    font-family: "Noto Sans", sans-serif;
    font-size: 23px;
    color: rgb(0, 72, 167);
}


.menu_ul{
    margin:0px;
    padding:0;
    align-items: center;
    text-align: center;
    margin-right: 15px;
}


.list_menu{
    /*한줄로 오게 하고 싶으면 inline을 해준다*/
    display: inline-block;
    margin:0;     
    padding:0; 
}

.nav_menu{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 35px;
    margin-left: 15px;   
    text-shadow: 1.3px 1.3px 1.3px gray; 
}


/*P4--------------------------- Footer ---------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(49, 49, 49);
    border-radius: 0px;

    /*margin-bottom: 200px; rgb(0, 59, 98);*/
}

.contact{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;

    
    color: white;
    /*border-top: 1px solid #C2B4AB;*/
    margin-bottom: 13px;
    margin-left:5px;
}

.links>a{
 /*>: 자식태그 <: 부모태그*/
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 8px;
    margin-right: 5px;
    color: white;
}

.links>a:hover{
    color: rgb(182, 69, 69);
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

.footer>p{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100; /*bold*/
    font-size: 15px;
    font-style: italic;
    color: white;

    margin-top: 5px;
}




/*P5--------------------------- Profile-section ---------------------------*/
.profile-section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;

}

#profile-picture{
    width: 400px;
    height: 530px;
    margin-right: 60px;
    border-radius: 15px;
}


.About_me{
    font-family: "Montserrat", sans-serif;

}

.Personal-info{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.Interests{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;    
    margin-bottom: 40px;
    margin-top:0;
}


.Introduction>h2{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin: 0px;
}

.major{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    /*font-style: italic;*/

    line-height: 30px; /*줄간격*/
    margin-left: 20px;
}

.gpa{
    color: rgb(194, 0, 0);
    margin-top:30px;
    margin-left:30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;   
}

.gpa:hover{
    color: black;
    transition: 0.5s

}


.Resmue-title{    
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;}

.Education-section{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 30px;
    line-height: 25px;
}

.Capability{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 30px; /*줄간격*/
    margin-left: 20px;
    margin-bottom: 30px;
}

.Cap-sub{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 550;
    margin-top:0;
}

#logo{
    margin-left: 20px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.git-logo-list{
    list-style:none;
}

.git_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-left: 230px;    
}

.git_menu:hover{
    color: rgb(163, 0, 0);
    transition: 0.5s
}

.Awards{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.Orga_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;  
    margin-left: 20px;   
    font-weight: 30px; 
}

.Orga_menu:hover{
    color: rgb(163, 0, 0);
    transition: 0.5s
}

.certificate{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 100px;
}



/*P6---------------------------Research main page---------------------------*/

.Resarch-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Research-title{
    display: block;
    margin-right:750px;
    margin-top:100px;
    margin-bottom: 30px;
    align-items: center;
    font-size: 25px;
    width: 300px;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.Research-img{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 200px;
    margin-top: 50px;
    max-width:100%;

}


.Research-class{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.R_img_click:hover{
    transform:scale(1.05,1.05);
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}

#Research_id{
    width: 300px;
    height: 280px;
    margin-right: 30px;
    margin-left: 30px;
}



.Research_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
    margin-top: 20px;
}

